<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div style="height: 300px;  width: 80%">
  <div>
    <h1>Games <%= button_to  'Start new game', new_game_path, :method => "get"%></h1>
    <div style="display: flex;justify-content: space-between;">
      <div>
        <h3>
        Start game by adding players.
        </h3>
      </div>
      <div>
        <%= button_to  'Add a player', new_player_path, :method => "get"%>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <% @games.each do |game| %>
  <div>
    <div>
      <h1>Game <%= game.id %></h1>
    </div>
    <p><h2>Results</h2></p>
    <table>
      <tr>
        <th><b>Turn</b></th>
        <th><b>Winner</b></th>
      </tr>
      <tr>
        <td><h3><%= game.game_turn %></h3></td>
        <td><h3><%= Player.find(game.winner.keys.first).name rescue "Yet to Decide" %></h3></td>
      </tr>
    </table>
    <p><h2>Participants</h2></p>
    <table>
      <tr>
        <th><b>Player</b></th>
        <th><b>Score</b></th>
      </tr>
      <% game.score_board.each do |k,v|%>
        <tr>
          <td><h3><%= Player.find(k).name %></h3></td>
          <td><h3><%= v %></h3></td>
        </tr>
      <% end %>
    </table>
    <br>
    <div>
      <%= button_to "Start Bowling", game_frames_path(game.id), :method => "get" %>
    </div>    
</div>
<br>
<hr>
<% end %>
</div>