<div style="height: 300px;  width: 80%">
  <div>
    <h1>Games <%= button_to  'Start new game', new_game_path, :method => "get"%></h1>
    <div style="display: flex;justify-content: space-between;">
      <div>
        <h3>
        Before starting a game, please add players first.
        </h3>
      </div>
      <div>
        <%= button_to  'Add a player', new_player_path, :method => "get"%>
      </div>
    </div>
  </div>
  <br>
  <% @games.each do |game| %>
  <div class="card">
    <section class="card-info card-section">
      
      <section class="statistics">
        <article class="statistic">
          <h4 class="statistic-title">
          Turn
          </h4>
          <h3 class="statistic-value">
          <%= game.game_turn %>
          </h3>
        </article>
        
        <article class="statistic">
          <h4 class="statistic-title">
          Winner
          </h4>
          <h3 class="statistic-value">
          <% if !(game.winner.empty?) %>
          <%= Player.find(game.winner.keys.first).name %>
          <% end %>
          </h3>
        </article>
      </section>
      
      <div class="dial">
        <h2 class="dial-title">
        <%= button_to "Start Bowling", game_frames_path(game.id), :method => "get" %>
        </h2>
        <h3>
        Game#
        <%= game.id %>
        </h3>
      </div>
    </section>
    <section class="card-details card-section">
      
      <nav class="menu">
        <article class="menu-item menu-item-active">
          Player
        </article>
        <article class="menu-item">
          Total Score
        </article>
      </nav>
      
      <dl class="leaderboard">
        <% game.score_board.each do |k,v|%>
        <dt>
        <article class="progress">
        <section class="progress-bar" style="width: 85%;"></section>
      </article>
      </dt>
      <dd>
      <div class="leaderboard-name"><%= Player.find(k).name %></div>
      <div class="leaderboard-value"><%= v %></div>
      </dd>
      <% end %>
    </dl>
  </section>
</div>
<br>
<% end %>
</div>