<div class="alert success">
  <span class="closebtn">&times;</span>
  <strong>Success!</strong>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Try1</th>
        <th scope="col">Try2</th>
        <th scope="col">Turn</th>
        <th scope="col">Status</th>
        <th scope="col">Player Name</th>
        <th scope="col">Game Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @frame.try1 %></td>
        <td><%= @frame.try2 %></td>
        <td><%= @frame.turn %></td>
        <td><%= @frame.status %></td>
        <td><%= @frame.player.name%></td>
        <td><%= @frame.game.id %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="center">
  <%= button_to "Back to Dashboard", game_frames_path(@frame.game.id), :method => "get" %>
</div>
<script>
var close = document.getElementsByClassName("closebtn");
var i;
for (i = 0; i < close.length; i++) {
close[i].onclick = function(){
var div = this.parentElement;
div.style.opacity = "0";
setTimeout(function(){ div.style.display = "none"; }, 600);
}
}
</script>